/*Base definition for the entire project*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*10px*/
}

body {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Big desktop: 1800px */
@media (min-width: 112.5em) {
  html {
    font-size: 100%;
  }
}

/* Tab land: 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* Tab-port: 900px */
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}